/* footer */

footer{
    background-color: var(--color-background-secondary);
    color: #F2F2F2;
}

footer .container div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2rem;
}

footer img:nth-child(1){
    max-width: 300px;
    width: 100%;
}

footer p {
    text-align: center;

    padding: 2rem 0;
}

@media (max-width: 25rem) {
    footer div div{
        justify-content: center;
    }
    footer div div img:nth-child(2){
        display: none;
    }
}