:root{
  --color-background-primary: #F2F2F2;
  --color-background-secondary: #023059;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #000000;
}

*{
  margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: none;
	text-decoration: none;
	box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

p, a, span, strong, button, ul, li, strong{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 1.5rem;
}

h1{
  font-size: 3rem;
  line-height: 3rem;
}

h2{
  font-size: 2rem;
  line-height: 2.5rem;
}

h3{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h4{
  font-size: 1.3rem;
}


button {
  cursor: pointer;
}

.container {
  width: min(90vw, 86rem);
  margin: 0 auto;
}

body{
  background-color: var(--color-background-primary);
}