/* Main */

/* Presentation */

main .presentation {
    position: relative;
    color: #000;

    font-size: 1.25rem;
}

main .presentation div h1 {
    padding: 8rem 0 2rem 0;
    margin: 0 auto;

    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

main .presentation div p{
    max-width: 1200px;
    padding-bottom: 8rem;
    margin: 0 auto;

}

/* location */

main .location {
    background-color: var(--color-background-secondary);
    color: #F2F2F2;
}

main .location div {
    padding: 3rem 0;
}

main .location div h2 {
    color: #F2F2F2;

    text-align: center;
    font-size: 2.5rem;
}

main .location div .content{
    display: flex;
    justify-content: space-between;
}

main .location div .content img{
    max-width: 600px;
    width: 100%;

    border-radius: 1rem;
}

main .location div .content div h3{
    font-size: 1.8rem;
    color: #05C7F2;
}

main .location div .content div p{
    font-size: 1.5rem;
    color: #F2F2F2;

    margin: 2rem 0 3rem 0;
}

main .location div .content div a{
    font-size: 1.5rem;

    color: #F2F2F2;
    background-color: #05C7F2;

    padding: 1rem;
    border-radius: 0.5rem;
}

main .location div .content div a:hover{
    color: #000;
    background-color: #F2F2F2;

    padding: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 75rem) {
    main .location div .content img{
        max-width: 500px;
    } 
}

@media (max-width: 62rem) {
    main .location div .content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    main .location div .content div a{
        font-size: 1.25rem;
    }
}

@media (max-width: 25rem) {
    main .location div .content div a{
        font-size: 1rem;
    }
}

/* activities */

main .activities {
    padding: 4rem 0;

    font-size: 1.2rem;
}

main .activities h2{
    color: #023059;

    text-align: center;

    font-size: 2.5rem;

    margin-bottom: 2rem;
}

main .activities .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

main .activities .card{
    max-width: 600px;
    width: 100%;

    border: 1px solid #023059;
    border-radius: 1rem;
    padding: 10px;
}

main .activities .card div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

main .activities .card p{
    margin: 1rem 0;
}

@media (max-width: 48.625rem) {
    main .activities .card-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* timeline */

main .timeline {
    background-color: var(--color-background-secondary);
    font-size: 1.5rem;
}

main .timeline .container{
    padding: 4rem 0;
}

main .timeline h2{
    color: #F2F2F2;

    text-align: center;

    font-size: 2.5rem;

    margin-bottom: 2rem;
}

main .timeline table{
    width: 100%;
    border-collapse: collapse;

    background-color: #F2F2F2;
    color: #000;
}

main .timeline table, th, td {
    border: 1px solid black;
}
  
main .timeline th {
    background-color: #F2F2F2;

    padding: 1rem;
}

main .timeline td {
    text-align: center;
    padding: 1rem;
}

@media(max-width: 48.625rem){
    main .timeline table, th, td {
        white-space: nowrap;
    }    

    main .timeline table{
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}
/* Lectures */

main .lectures{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

main .lectures h2{
    color: #023059;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

main .lectures p{
   text-align: center;
   font-size: 1.2rem;
   margin-bottom: 2rem;
}

main .lectures .container-lectures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

main .lectures .card-lectures{
    max-width: 400px;
    width: 100%;
    padding: 1rem;

    background-color: #023059;
    color: #F2F2F2;
    border-radius: 0.5rem;

    text-align: center;
}

main .lectures .card-lectures img{
    width: 100%;
    margin-bottom: 1rem;
}

main .lectures .card-lectures p{
    margin-top: 1rem;
}

@media (max-width: 87.5rem) {
    main .lectures .container-lectures{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (max-width: 62rem) {
    main .lectures .container-lectures{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}