main {
    font-size: 1rem;
    line-height: 1rem;

    margin: 3rem 0;
}

main h1{
    text-align: center;
    margin: 5rem 0 2rem;
}

main > section{
   padding-bottom: 2rem;
}

main section hr{
    height: 0.125rem;
    background-color: black;
}

main section h2{
    margin: 0.5rem 0;
}

main section h3{
    margin-top: 1rem;
    line-height: 2.5rem;
}

main section h4{
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

main section .authors{
    margin-bottom: 0.5rem;
}

main section .summary{
    margin-bottom: 1rem;
}

main section .history{
    font-style: italic;
}

@media (max-width: 25rem) {
    main h1{
        font-size: 2.3rem;
    }

    main section h2{
        font-size: 1.5rem;
    }
}